Travel_Agent.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c82c0dc2-7263-40c5-ab6c-4ac29c346e47",
              "name": "Name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "8e653dc2-4cd0-4f19-8291-9b9b2f3dd388",
              "name": "Number",
              "value": "={{ $json.Number }}",
              "type": "number"
            },
            {
              "id": "d01ac69f-9452-479c-94e2-807b9c1e4b44",
              "name": "origin",
              "value": "={{ $json.origin }}",
              "type": "string"
            },
            {
              "id": "14720a03-0cc8-4824-af28-e8e53070ba6f",
              "name": "Destination",
              "value": "={{ $json.Destination }}",
              "type": "string"
            },
            {
              "id": "2005fcb4-c9ef-42bb-bea1-a0c4564e14e4",
              "name": "Activities",
              "value": "={{ $json.Activities }}",
              "type": "string"
            },
            {
              "id": "572a192e-9bdf-4a15-9e34-3ae85415796e",
              "name": "Traveler",
              "value": "={{ $json.Traveler }}",
              "type": "string"
            },
            {
              "id": "357dd322-f0fd-4371-aca5-80ba69dc869d",
              "name": "Departure date",
              "value": "={{ $json['Departure date'] }}",
              "type": "string"
            },
            {
              "id": "b1af4244-b1d4-432b-91e8-f9ff04cf7f28",
              "name": "Return date",
              "value": "={{ $json['Return date'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        464
      ],
      "id": "1420e119-9756-4964-95a4-e786e797b0c4",
      "name": "Set Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Origin: {{ $json.origin }}\nDestination: {{ $json.Destination }}\nDeparture Date:{{ $json['Departure date'] }}\nReturn Date: {{ $json['Return date'] }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Turn the origin and destination into their airport codes.\n\nMake sure the departure and return dates are in the future, not the past.\n\nHere is the current date/time:{{ $('On form submission').item.json.submittedAt }} "
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        672,
        464
      ],
      "id": "b4be630e-cda2-45f9-95a4-b7b5f4238146",
      "name": "Airport Codes & Dates"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"origin\": {\n      \"type\": \"string\",\n      \"description\": \"The origin\"\n    },\n    \"destination\": {\n      \"type\": \"string\",\n      \"description\": \"The destination\"\n    },\n    \"departure\": {\n      \"type\": \"string\",\n      \"format\": \"date\",\n      \"description\": \"The departure date (YYYY-MM-DD)\"\n    },\n    \"return\": {\n      \"type\": \"string\",\n      \"format\": \"date\",\n      \"description\": \"The return date (YYYY-MM-DD)\"\n    }\n  },\n  \"required\": [\"origin\", \"destination\", \"departure\",\"return\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        864,
        704
      ],
      "id": "b57904ee-fc03-4d08-b1bc-11ba886f255c",
      "name": "Locations & Dates"
    },
    {
      "parameters": {
        "formTitle": "agent",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Number",
              "fieldType": "number"
            },
            {
              "fieldLabel": "origin"
            },
            {
              "fieldLabel": "Destination"
            },
            {
              "fieldLabel": "Activities"
            },
            {
              "fieldLabel": "Traveler"
            },
            {
              "fieldLabel": "Departure date",
              "fieldType": "date"
            },
            {
              "fieldLabel": "Return date",
              "fieldType": "date"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        272,
        496
      ],
      "id": "84f4e26c-c0b9-4ccb-9062-64650249f2a3",
      "name": "On form submission",
      "webhookId": "3ab3578b-def5-4a04-997e-935bf7d90786"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        656,
        672
      ],
      "id": "979f16d7-731e-4d28-b429-15f225e812b6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3eR81UB3XAwWdpyG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $('Set Fields').item.json.Activities }} in {{ $('Set Fields').item.json.Destination }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"max_results\": 3,\n  \"time_range\": null,\n  \"days\": 3,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        464
      ],
      "id": "4dd7157f-74b0-45e4-9f8e-de8195199346",
      "name": "Activities1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "lcOSRD4Ayd4ZOhmw",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_hotels"
            },
            {
              "name": "q",
              "value": "={{ $('Set Fields').item.json.Destination }}"
            },
            {
              "name": "check_in_date",
              "value": "={{ $('Airport Codes & Dates').item.json.output.departure }}"
            },
            {
              "name": "check_out_date",
              "value": "={{ $('Airport Codes & Dates').item.json.output.return }}"
            },
            {
              "name": "adults",
              "value": "={{ $('Set Fields').item.json.Traveler }}"
            },
            {
              "name": "sort_by",
              "value": "8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        464
      ],
      "id": "a6afc061-5581-4261-893b-c254bc25100f",
      "name": "Resorts1",
      "credentials": {
        "httpQueryAuth": {
          "id": "Xpute3CYnijM3i4h",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_flights"
            },
            {
              "name": "departure_id",
              "value": "={{ $('Airport Codes & Dates').item.json.output.origin }}"
            },
            {
              "name": "arrival_id",
              "value": "={{ $('Airport Codes & Dates').item.json.output.destination }}"
            },
            {
              "name": "outbound_date",
              "value": "={{ $('Airport Codes & Dates').item.json.output.departure }}"
            },
            {
              "name": "return_date",
              "value": "={{ $('Airport Codes & Dates').item.json.output.return }}"
            },
            {
              "name": "adults",
              "value": "={{ $('Set Fields').item.json.Traveler }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        464
      ],
      "id": "01814a8f-d6aa-4fca-9f67-027055696964",
      "name": "Flights1",
      "credentials": {
        "httpQueryAuth": {
          "id": "Xpute3CYnijM3i4h",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer Name: {{ $('Set Fields').item.json.Name }}\nPhone Number: {{ $('Set Fields').item.json.Number }}\n\n# Travel Plan Summary for {{ $('Set Fields').item.json.Name }}\n\n## Trip Details\n- From: {{ $('Set Fields').item.json.origin }} to {{ $('Set Fields').item.json.Destination }}\n- Departure: {{ $('Set Fields').item.json['Departure date'] }}\n- Return: {{ $('Set Fields').item.json['Return date'] }}\n- Travelers: {{ $('Set Fields').item.json.Traveler }}\n- Interested Activities: {{ $('Set Fields').item.json.Activities }}\n\n## Flight Options\n\n### Option 1\n- Airline: {{ $json.best_flights[0].flights[0].airline }}\n- Departure Time: {{ $json.best_flights[0].flights[0].departure_airport.time }}\n- Duration: {{ $json.best_flights[0].flights[0].duration }} minutes\n- Features: {{ $json.best_flights[0].flights[0].extensions }}\n- Price: ${{ $json.best_flights[0].price }} ({{ $json.best_flights[0].type }})\n\n### Option 2\n- Airline: {{ $json.best_flights[1].flights[0].airline }}\n- Departure Time: {{ $json.best_flights[1].flights[0].departure_airport.time }}\n- Duration: {{ $json.best_flights[1].flights[0].duration }} minutes\n- Features: {{ $json.best_flights[1].flights[0].extensions }}\n- Price: ${{ $json.best_flights[1].price }} ({{ $json.best_flights[1].type }})\n\n## Hotel Options\n\n### Hotel 1: {{ $('Resorts1').item.json.properties[0].name }}\n- Rate per night: {{ $('Resorts1').item.json.properties[0].rate_per_night.lowest }}\n- Total Rate: {{ $('Resorts1').item.json.properties[0].total_rate.lowest }}\n- Amenities: {{ $('Resorts1').item.json.properties[0].amenities }}\n- Nearby: {{ $('Resorts1').item.json.properties[0].nearby_places[0].name }}\n\n### Hotel 2: {{ $('Resorts1').item.json.properties[1].name }}\n- Rate per night: {{ $('Resorts1').item.json.properties[1].rate_per_night.lowest }}\n- Total Rate: {{ $('Resorts1').item.json.properties[1].total_rate.lowest }}\n- Amenities: {{ $('Resorts1').item.json.properties[1].amenities }}\n- Nearby: {{ $('Resorts1').item.json.properties[1].nearby_places[0].name }}\n\n### Hotel 3: {{ $('Resorts1').item.json.properties[2].name }}\n- Rate per night: {{ $('Resorts1').item.json.properties[2].rate_per_night.lowest }}\n- Total Rate: {{ $('Resorts1').item.json.properties[2].total_rate.lowest }}\n- Amenities: {{ $('Resorts1').item.json.properties[2].amenities }}\n- Nearby: {{ $('Resorts1').item.json.properties[2].nearby_places[0].name }}\n\n## Recommended Activities\n\n### Activity 1: {{ $('Activities1').item.json.results[0].title }}\n- Description: {{ $('Activities1').item.json.results[0].content }}\n\n### Activity 2: {{ $('Activities1').item.json.results[1].title }}\n- Description: {{ $('Activities1').item.json.results[1].content }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a travel planning specialist creating a comprehensive travel plan summary. Your task is to organize all the travel information into a clear, structured format that will be used by a voice AI agent to make a phone call to the customer.\n\n## Instructions:\n1. Create a well-organized travel plan summary that includes all flight, hotel, and activity options\n2. Format the information in a way that's easy for a voice agent to read and discuss\n3. Include specific details like prices, times, and amenities\n4. Keep the language conversational and customer-friendly\n5. Ensure all important details are included for the voice agent to discuss\n\n## Output Format:\nProvide a comprehensive travel plan summary that includes:\n- Customer details (name and phone for reference)\n- Trip overview with dates and destinations\n- Flight options with specific details\n- Hotel recommendations with pricing and amenities\n- Activity suggestions with descriptions\n\nMake sure the summary is detailed enough for a voice agent to have a complete conversation about the travel options."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1760,
        464
      ],
      "id": "fb576e14-a41d-42ac-aaf5-dea659d8c783",
      "name": "Travel Plan Generator"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"travel_plan_summary\": {\n      \"type\": \"string\",\n      \"description\": \"Complete travel plan summary for voice agent\"\n    }\n  },\n  \"required\": [\"travel_plan_summary\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1904,
        736
      ],
      "id": "47181c6a-17ac-4c64-b8b0-18566a4330f2",
      "name": "Travel Plan Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_number\": \"+18583300075\",\n  \"to_number\": \"+{{ $('Set Fields').item.json.Number }}\",\n  \"retell_llm_dynamic_variables\": {\n    \"name\": \"{{ $('Set Fields').item.json.Name }}\",\n    \"summary\":\"{{ $json.output.travel_plan_summary }}\",\n    \"destination\": \"{{ $('Set Fields').item.json.Destination }}\",\n    \"departure_date\": \"{{ $('Set Fields').item.json['Departure date'] }}\",\n    \"return_date\": \"{{ $('Set Fields').item.json['Return date'] }}\",\n    \"travelers_count\": \"{{ $('Set Fields').item.json.Traveler }}\",\n    \"preferred_activities\": \"{{ $('Set Fields').item.json.Activities }}\"\n  },\n  \"metadata\": {\n    \"name\": \"{{ $('Set Fields').item.json.Name }}\",\n    \"trip_destination\": \"{{ $('Set Fields').item.json.Destination }}\",\n    \"travel_dates\": \"{{ $('Set Fields').item.json['Departure date'] }} to {{ $('Set Fields').item.json['Return date'] }}\"\n  },\n  \"override_agent_id\": \"agent_5aaa39d4f48371e42d269019ca\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        464
      ],
      "id": "8bd4cc99-06c0-4d57-993b-9b18ff6b4c7f",
      "name": "Retell AI Voice Call",
      "credentials": {
        "httpCustomAuth": {
          "id": "A80YePXO0MMO7JXG",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd838df2-da7c-4cb6-bef5-e7837d49fa26",
              "name": "response",
              "value": "=Voice call initiated successfully to {{ $('Set Fields1').item.json.name }} at {{ $('Set Fields1').item.json.phone_number }}. Call ID: {{ $json.call_id }}. Our travel agent will discuss the trip to {{ $('Set Fields1').item.json.destination }} from {{ $('Set Fields1').item.json.departure_date }} to {{ $('Set Fields1').item.json.return_date }}.",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-5e6f-7890-ab12-cd34ef567890",
              "name": "call_id",
              "value": "={{ $json.call_id }}",
              "type": "string"
            },
            {
              "id": "b2c3d4e5-6f78-9012-bc34-de56f7890123",
              "name": "call_status",
              "value": "={{ $json.call_status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2352,
        464
      ],
      "id": "1711fe9b-c3a5-463f-8a97-02418a1b3207",
      "name": "Response1",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1744,
        672
      ],
      "id": "8299f77e-49d4-49ae-b423-40ac3923a3bc",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "3eR81UB3XAwWdpyG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Set Fields": {
      "main": [
        [
          {
            "node": "Airport Codes & Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airport Codes & Dates": {
      "main": [
        [
          {
            "node": "Activities1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Locations & Dates": {
      "ai_outputParser": [
        [
          {
            "node": "Airport Codes & Dates",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Airport Codes & Dates",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Activities1": {
      "main": [
        [
          {
            "node": "Resorts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resorts1": {
      "main": [
        [
          {
            "node": "Flights1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flights1": {
      "main": [
        [
          {
            "node": "Travel Plan Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Travel Plan Generator": {
      "main": [
        [
          {
            "node": "Retell AI Voice Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Travel Plan Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Travel Plan Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Retell AI Voice Call": {
      "main": [
        [
          {
            "node": "Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response1": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Travel Plan Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ace9c00cb4da940b94c4b0b9138f8366fab16c6aa75a4c85a09871f80c8c3545"
  }
}
